.table-padding {
  padding: 10px 20px;
}
::-webkit-input-placeholder {
  font-size: 12px !important;
}
.td1 {
  width: 20%;
}
.td2 {
  width: 80%;
}

#areaChart{
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
}