<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3>Application Form</h3>
    <hr>
    <br>
    <form>
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control">
      </div>
      <div class="mb-3">
        <label  class="form-label">Address</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label  class="form-label">Contact</label>
        <input type="number" class="form-control">
      </div>
      <div class="mb-3">
        <label for="" class="mb-2">Education Details</label>
        <div class="row mb-3">
          <div class="col-md-6">
            <label  class="form-label">Ssc/Board</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">Year</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">CGPA/Percentage</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label  class="form-label">Hsc/Board</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">Year</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">CGPA/Percentage</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label  class="form-label">Graduation</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">Year</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">CGPA/Percentage</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label  class="form-label">Master Degree</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">Year</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-3">
            <label  class="form-label">CGPA/Percentage</label>
            <input type="number" class="form-control">
          </div>
        </div>
        <!-- <label  class="form-label">Contact</label>
        <input type="number" class="form-control"> -->
      </div>
      <div class="mb-3">
        <label for="" class="mb-2">Work Experience</label>
        <div class="row">
          <div class="col-md-6">
            <label  class="form-label">Company</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6">
            <label  class="form-label">Designation</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6">
            <label  class="form-label">From</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-6">
            <label  class="form-label">To</label>
            <input type="date" class="form-control">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="mb-2">Known Languages</label>
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">English</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Read</label>
            </div>
          </div> 
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Write</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Speak</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Hindi</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Read</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Write</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Speak</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Gujarati</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Read</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Write</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" [disabled]="data" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Speak</label>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="mb-2">Technical Experience</label>
        <div class="row">
          <div class="col-md-6">
            <select class="form-select mb-3" multiple>
              <option selected>Select Programming Language</option>
              <option value="c/c++">C / C++</option>
              <option value="java">Java</option>
              <option value="php">PHP</option>
              <option value="javascript">Javascript</option>
              <option value="typescript">Typescript</option>
              <option value="android">Android</option>
              <option value="nodejs">NodeJs</option>
            </select>
          </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Read</label>
              </div>
            </div> 
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Write</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Speak</label>
              </div>
            </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="mb-3">Preference</label>
        <select class="form-select mb-3">
          <option selected>Preferred Location</option>
          <option value="ahmedabad">Ahmedabad</option>
          <option value="rajkot">Rajkot</option>
          <option value="pune">Pune</option>
          <option value="baroda">Baroda</option>
          <option value="surat">Surat</option>
        </select>
        <div class="row">
          <div class="col-md-4">
            <label class="form-label">Expected CTC (Monthly)</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-4">
            <label class="form-label">Current CTC (Monthly)</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-4">
            <label class="form-label">Notice Period (days)</label>
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

