.imgcard {
  width: 400px;
  height: 400px;
}
.img-fluid {
  height: 140px !important;
}
.pd {
  padding: 11px 15px;
}
.img-radius {
  border-radius: 0% !important;
}
.user-card .user-about-block img {
  box-shadow: none !important;
}
