  
        <div class="row align-items-center text-center">
            <div class="col-md-4"></div>
           <div class="col-md-4">
              <div class="card-body">
                <h4 class="mb-3 f-w-400">Log in</h4>
                <form (ngSubmit)="submit()" [formGroup]="loginForm">
                  <div class="form-group mb-3">
                    <input type="email" id="email" class="form-control" placeholder="Email address" formControlName="sUserName">
                  </div>
                  <div *ngIf="isValidInput('sUserName')" class="alert alert-danger">
                    <div *ngIf="loginForm.controls['sUserName'].errors.required">Email is required. </div>
                  </div>
                  <div class="form-group mb-4">
                    <input type="password" id="password" class="form-control" placeholder="Password" formControlName="sPassword">
                  </div>
                  <div *ngIf="isValidInput('sPassword')" class="alert alert-danger">
                    <div *ngIf="loginForm.controls['sPassword'].errors.required">Password is required.</div>
                  </div>
                  <button class="btn btn-block btn-primary mb-0" [disabled]="!loginForm.valid">
                    <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>{{showLoader? '' : 'Login'}}
                  </button>
                </form>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>